<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>io.gksdud.inputswitch</string>
<key>CFBundleName</key><string>gksdud</string>
<key>CFBundleDisplayName</key><string>gksdud</string>
<key>CFBundleDevelopmentRegion</key><string>ko</string>
<key>CFBundleLocalizations</key><array><string>ko</string><string>ja</string><string>zh-Hant</string></array>
<key>CFBundleExecutable</key><string>gksdud</string>
<key>CFBundleIconFile</key><string>AppIcon</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>1.3.2</string>
<key>CFBundleVersion</key><string>38</string>
<key>NSHumanReadableCopyright</key><string>© 2026 CodingNoye · codingnoye@gmail.com</string>
<key>LSMinimumSystemVersion</key><string>13.0</string>
<key>LSUIElement</key><true/>
<key>NSHighResolutionCapable</key><true/>
</dict></plist>
